**/bin
**/obj
**/.vs
**/.vscode
**/*.user
**/*.suo
**/*.cache
**/*.pidb
**/*.pdb
**/*.jpg
**/*.png
**/*.gif
**/*.dll
**/*.exe
**/node_modules
**/wwwroot/lib
**/.git
**/.github
**/*.md
**/Dockerfile*
**/docker-compose*
**/appsettings.Development.json
**/appsettings.Production.json
**/*.log
__pycache__
*.pyc
*.pyo
*.egg-info
.env
.env.*
*.env
.Docker
.docker
